<%- model_class = Gadget -%>
<div class="container">
  <div class="page-header page-header-show">
    <h1 class="list-title">Device Details</h1>
  </div>



      <form class="form-horizontal">
        <div class="form-group">
        <label class="col-md-2 control-label roboto">Gunny ID</label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.gunny_id %></p>
          </div>
        <label class="col-md-2 control-label roboto">Device Name</label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.device_name %></p>
          </div>
        <label class="col-md-2 control-label roboto"><%= model_class.human_attribute_name(:brand) %></label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.brand %></p>
          </div>
          <label class="col-md-2 control-label roboto"><%= model_class.human_attribute_name(:model) %></label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.model %></p>
          </div>
          <label class="col-md-2 control-label roboto">OS Version</label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.os_version %></p>
          </div>
          <label class="col-md-2 control-label roboto"><%= model_class.human_attribute_name(:format) %></label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.format %></p>
          </div>
          <label class="col-md-2 control-label roboto"><%= model_class.human_attribute_name(:home_location) %></label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.home_location %></p>
          </div>
          <label class="col-md-2 control-label roboto"><%= model_class.human_attribute_name(:available) %></label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.available %></p>
          </div>
          <label class="col-md-2 control-label roboto">Last Checkout By</label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.current_user %></p>
          </div>
          <label class="col-md-2 control-label roboto">Last Checkin By</label>
          <div class="col-md-10">
            <p class="form-control-static"><%= @gadget.last_user %></p>
          </div>
        </div>
      </form>


  <div class="form-group col-md-20 col-md-offset-2">
    <%= link_to "Back", gadgets_path, :class => 'btn btn-default btn-lg col-xs-1'  %>
    <% if user_signed_in? %>
    <%= link_to "Edit", edit_gadget_path(@gadget), :class => 'btn btn-default btn-lg col-xs-1' %>
    <%= link_to "Delete", gadget_path(@gadget), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-lg col-xs-offset-7 col-xs-2' %>
    <% end %>
  </div>
</div>
